header {
  border: 3px solid #98ff98;
  border-radius: 1.875rem;
  justify-content: center;
  display: flex;
  width: 66%;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 300px) {
  h1 {
    font-size: 1.2rem;
    text-align: center;
  }
}

@media (min-width: 600px) {
  h1 {
    font-size: 2.5rem;
    text-align: center;
  }
}

@media (min-width: 1200px) {
  h1 {
    font-size: 5rem;
    text-align: center;
  }
}

@media (min-width: 300px) {
  .header__flame-gif-1 {
    height: 2rem;
    margin: 1rem;
    left: 2.75rem;
  }
}

@media (min-width: 600px) {
  .header__flame-gif-1 {
    height: 3rem;
    margin: 1rem;
    left: 5.5rem;
  }
}

@media (min-width: 1200px) {
  .header__flame-gif-1 {
    height: 6rem;
    margin: 2rem;
    left: 11rem;
  }
}
